/*
* Justify content
*/
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }

.sm\:justify-center { @include sm(justify-content, center); }
.sm\:justify-between { @include sm(justify-content, space-between); }
.sm\:justify-around { @include sm(justify-content, space-around); }
.sm\:justify-start { @include sm(justify-content, flex-start); }
.sm\:justify-end { @include sm(justify-content, flex-end); }

.md\:justify-center { @include md(justify-content, center); }
.md\:justify-between { @include md(justify-content, space-between); }
.md\:justify-around { @include md(justify-content, space-around); }
.md\:justify-start { @include md(justify-content, flex-start); }
.md\:justify-end { @include md(justify-content, flex-end); }

.lg\:justify-center { @include lg(justify-content, center); }
.lg\:justify-between { @include lg(justify-content, space-between); }
.lg\:justify-around { @include lg(justify-content, space-around); }
.lg\:justify-start { @include lg(justify-content, flex-start); }
.lg\:justify-end { @include lg(justify-content, flex-end); }

/*
* Align items
*/
.items-start { align-items: flex-start; }
.items-center { align-items: center; }
.items-end { align-items: flex-end; }
.items-stretch { align-items: stretch; }
.items-baseline { align-items: baseline; }

.sm\:items-start { @include sm(align-items, flex-start); }
.sm\:items-center { @include sm(align-items, center); }
.sm\:items-end { @include sm(align-items, flex-end); }
.sm\:items-stretch { @include sm(align-items, stretch); }
.sm\:items-baseline { @include sm(align-items, baseline); }

.md\:items-start { @include md(align-items, flex-start); }
.md\:items-center { @include md(align-items, center); }
.md\:items-end { @include md(align-items, flex-end); }
.md\:items-stretch { @include md(align-items, stretch); }
.md\:items-baseline { @include md(align-items, baseline); }

.lg\:items-start { @include lg(align-items, flex-start); }
.lg\:items-center { @include lg(align-items, center); }
.lg\:items-end { @include lg(align-items, flex-end); }
.lg\:items-stretch { @include lg(align-items, stretch); }
.lg\:items-baseline { @include lg(align-items, baseline); }

/*
* Flex wrap
*/
.flex-wrap { flex-wrap: wrap; }
.flex-no-wrap { flex-wrap: nowrap; }

.sm\:flex-wrap { @include sm(flex-wrap, wrap) }
.sm\:flex-no-wrap { @include sm(flex-wrap, nowrap) }

.md\:flex-wrap { @include md(flex-wrap, wrap) }
.md\:flex-no-wrap { @include md(flex-wrap, nowrap) }

.lg\:flex-wrap { @include lg(flex-wrap, wrap) }
.lg\:flex-no-wrap { @include lg(flex-wrap, nowrap) }

/*
* Flex directions
*/
.direction-column { flex-direction: column; }
.direction-column-reverse { flex-direction: column-reverse; }
.direction-row { flex-direction: row; }
.direction-row-reverse { flex-direction: row-reverse; }

.sm\:direction-column { @include sm(flex-direction, column) }
.sm\:direction-column-reverse { @include sm(flex-direction, column-reverse) }
.sm\:direction-row { @include sm(flex-direction, row) }
.sm\:direction-row-reverse { @include sm(flex-direction, row-reverse) }

.md\:direction-column { @include md(flex-direction, column) }
.md\:direction-column-reverse { @include md(flex-direction, column-reverse) }
.md\:direction-row { @include md(flex-direction, row) }
.md\:direction-row-reverse { @include md(flex-direction, row-reverse) }

.lg\:direction-column { @include lg(flex-direction, column) }
.lg\:direction-column-reverse { @include lg(flex-direction, column-reverse) }
.lg\:direction-row { @include lg(flex-direction, row) }
.lg\:direction-row-reverse { @include lg(flex-direction, row-reverse) }

/*
* Text Align
*/
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.sm\:text-left { @include sm(text-align, left) }
.sm\:text-center { @include sm(text-align, center) }
.sm\:text-right { @include sm(text, right) }

.md\:text-left { @include md(text-align, left) }
.md\:text-center { @include md(text-align, center) }
.md\:text-right { @include md(text-align, right) }

.lg\:text-left { @include lg(text-align, left) }
.lg\:text-center { @include lg(text-align, center) }
.lg\:text-right { @include lg(text-align, right) }

/*
* Display
*/
.d-flex { display: flex; }
.d-block { display: block; }
.d-none { display: none; }

.sm\:d-flex { @include sm(display, flex) }
.sm\:d-block { @include sm(display, block) }
.sm\:d-none { @include sm(display, none) }

.md\:d-flex { @include md(display, flex) }
.md\:d-block { @include md(display, block) }
.md\:d-none { @include md(display, none) }

.lg\:d-flex { @include lg(display, flex) }
.lg\:d-block { @include lg(display, block) }
.lg\:d-none { @include lg(display, none) }

/*
* Margin
*/
@for $i from 0 to 21 {
  $value: $i * 0.5;
  .mt-#{slash-dots($value)} { margin-top: 1rem * ($value); }
  .mr-#{slash-dots($value)} { margin-right: 1rem * ($value); }
  .mb-#{slash-dots($value)} { margin-bottom: 1rem * ($value); }
  .ml-#{slash-dots($value)} { margin-left: 1rem * ($value); }
}

@for $i from 0 to 21 {
  $value: $i * 0.5;
  .sm\:mt-#{slash-dots($value)} { @include sm(margin-top, 1rem * ($value)); }
  .sm\:mr-#{slash-dots($value)} { @include sm(margin-right, 1rem * ($value)); }
  .sm\:mb-#{slash-dots($value)} { @include sm(margin-bottom, 1rem * ($value)); }
  .sm\:ml-#{slash-dots($value)} { @include sm(margin-left, 1rem * ($value)); }
}

@for $i from 0 to 21 {
  $value: $i * 0.5;
  .md\:mt-#{slash-dots($value)} { @include md(margin-top, 1rem * ($value)); }
  .md\:mr-#{slash-dots($value)} { @include md(margin-right, 1rem * ($value)); }
  .md\:mb-#{slash-dots($value)} { @include md(margin-bottom, 1rem * ($value)); }
  .md\:ml-#{slash-dots($value)} { @include md(margin-left, 1rem * ($value)); }
}

@for $i from 0 to 21 {
  $value: $i * 0.5;
  .lg\:mt-#{slash-dots($value)} { @include lg(margin-top, 1rem * ($value)); }
  .lg\:mr-#{slash-dots($value)} { @include lg(margin-right, 1rem * ($value)); }
  .lg\:mb-#{slash-dots($value)} { @include lg(margin-bottom, 1rem * ($value)); }
  .lg\:ml-#{slash-dots($value)} { @include lg(margin-left, 1rem * ($value)); }
}

/*
* Padding
*/
@for $i from 0 to 21 {
  $value: $i * 0.5;
  .pt-#{slash-dots($value)} { padding-top: 1rem * ($value); }
  .pr-#{slash-dots($value)} { padding-right: 1rem * ($value); }
  .pb-#{slash-dots($value)} { padding-bottom: 1rem * ($value); }
  .pl-#{slash-dots($value)} { padding-left: 1rem * ($value); }
}

@for $i from 0 to 21 {
  $value: $i * 0.5;
  .sm\:pt-#{slash-dots($value)} { @include sm(padding-top, 1rem * ($value)); }
  .sm\:pr-#{slash-dots($value)} { @include sm(padding-right, 1rem * ($value)); }
  .sm\:pb-#{slash-dots($value)} { @include sm(padding-bottom, 1rem * ($value)); }
  .sm\:pl-#{slash-dots($value)} { @include sm(padding-left, 1rem * ($value)); }
}

@for $i from 0 to 21 {
  $value: $i * 0.5;
  .md\:pt-#{slash-dots($value)} { @include md(padding-top, 1rem * ($value)); }
  .md\:pr-#{slash-dots($value)} { @include md(padding-right, 1rem * ($value)); }
  .md\:pb-#{slash-dots($value)} { @include md(padding-bottom, 1rem * ($value)); }
  .md\:pl-#{slash-dots($value)} { @include md(padding-left, 1rem * ($value)); }
}

@for $i from 0 to 21 {
  $value: $i * 0.5;
  .lg\:pt-#{slash-dots($value)} { @include lg(padding-top, 1rem * ($value)); }
  .lg\:pr-#{slash-dots($value)} { @include lg(padding-right, 1rem * ($value)); }
  .lg\:pb-#{slash-dots($value)} { @include lg(padding-bottom, 1rem * ($value)); }
  .lg\:pl-#{slash-dots($value)} { @include lg(padding-left, 1rem * ($value)); }
}

/*
* Position
*/
.p-relative { position: relative; }
.p-absolute { position: absolute; }
.p-static { position: static; }

.sm\:p-relative { @include sm(position, relative)}
.sm\:p-absolute { @include sm(position, absolute)}
.sm\:p-static { @include sm(position, static)}

.md\:p-relative { @include md(position, relative)}
.md\:p-absolute { @include md(position, absolute)}
.md\:p-static { @include md(position, static)}

.lg\:p-relative { @include lg(position, relative)}
.lg\:p-absolute { @include lg(position, absolute)}
.lg\:p-static { @include lg(position, static)}

/*
* Width
 */
.w-full { width: 100%; }
.w-1\/2 { width: 50%; }
.w-auto { width: auto; }

.sm\:w-full { @include sm(width, 100%); }
.sm\:w-1\/2 { @include sm(width, 50%); }
.sm\:w-auto { @include sm(width, auto); }

.md\:w-full { @include md(width, 100%); }
.md\:w-1\/2 { @include md(width, 50%); }
.md\:w-auto { @include md(width, auto); }

.lg\:w-full { @include lg(width, 100%); }
.lg\:w-1\/2 { @include lg(width, 50%); }
.lg\:w-auto { @include lg(width, auto); }

/*
* Overflow
 */
.overflow-initial { overflow: initial; }
.overflow-hidden { overflow: hidden; }
.overflow-visible { overflow: visible; }
.overflow-auto { overflow: auto; }

.sm\overflow-initial { @include sm(overflow, initial); }
.sm\overflow-hidden { @include sm(overflow, hidden); }
.sm\overflow-visible { @include sm(overflow, visible); }
.sm\overflow-auto { @include sm(overflow, auto); }

.md\overflow-initial { @include md(overflow, initial); }
.md\overflow-hidden { @include md(overflow, hidden); }
.md\overflow-visible { @include md(overflow, visible); }
.md\overflow-auto { @include md(overflow, auto); }

.lg\overflow-initial { @include lg(overflow, initial); }
.lg\overflow-hidden { @include lg(overflow, hidden); }
.lg\overflow-visible { @include lg(overflow, visible); }
.lg\overflow-auto { @include lg(overflow, auto); }

/*
* Colors
 */
.color-primary { color: $color-primary; }
.color-primary-2 { color: $color-primary-inverse; }
.color-accent { color: $color-accent; }
.color-accent-dark { color: $color-accent-dark; }

.color-grey-light { color: $color-gray-light; }
.color-grey-medium { color: $color-gray-medium; }
.color-grey-dark { color: $color-gray-dark; }
.color-grey-darken { color: $color-gray-darken; }

.color-info{ color: $color-info; }
.color-success { color: $color-success; }
.color-warning{ color: $color-info; }
.color-danger { color: $color-danger; }
