.select {
  position: relative;

  select {
    display: none;
  }

  &__selected {
    background-color: $color-primary-inverse;
    border: 1px solid $color-gray-medium;
    padding: 1.8rem 2.5rem;
    cursor: pointer;

    &:after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.29289 8.29289C5.68342 7.90237 6.31658 7.90237 6.70711 8.29289L12 13.5858L17.2929 8.29289C17.6834 7.90237 18.3166 7.90237 18.7071 8.29289C19.0976 8.68342 19.0976 9.31658 18.7071 9.70711L12.7071 15.7071C12.3166 16.0976 11.6834 16.0976 11.2929 15.7071L5.29289 9.70711C4.90237 9.31658 4.90237 8.68342 5.29289 8.29289Z' fill='%23314147'/%3E%3C/svg%3E%0A");
      width: 24px;
      height: 24px;
      position: absolute;
      right: 20px;
      transition: .2s ease-in-out;
    }
  }

  &__items {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    right: 0;
    z-index: 99;
    border: 1px solid $color-gray-medium;
    max-height: 300px;
    overflow: auto;
    padding: 3px 0;
    background-color: $color-primary-inverse;
    box-shadow: 0 10px 15px rgba(49, 65, 71, 0.1);
    display: none;

    & > div {
      padding: 7.5px 25px;
      cursor: pointer;
    }

    & > div.is-selected {
      color: $color-accent;
    }

    & > div:hover {
      color: $color-accent;
    }
  }

  &.is-opened {
    .select__items {
      display: block;
    }

    .select__selected {
      &:after {
        transform: rotate(180deg);
      }
    }
  }
}
