<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello, world!</title>
</head>
<body>
<div class="wrapper">
  <div class="container">
    <div class="row mb-6">
      <div class="col-12">
        <div class="mb-6">
          <div class="title-h1">hello world</div>
          <div class="title-h2">hello world</div>
          <div class="title-h3">hello world</div>
          <div class="title-h4">hello world</div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur cum cupiditate, in libero magni minima nemo neque nihil nostrum odit qui quis quo repudiandae tempore veritatis voluptate! Iusto, natus?</p>
      </div>
    </div>

    <div class="select mb-6">
      <select>
        <option value="1">option1</option>
        <option value="2">option2</option>
        <option value="3">option3</option>
      </select>
    </div>

    <div class="accordion mb-6">
      <div class="accordion__item">
        <div class="accordion-label">label</div>
        <div class="accordion-content">
          <div class="accordion-content__inner">
            content
          </div>
        </div>
      </div>
      <div class="accordion__item">
        <div class="accordion-label">label2</div>
        <div class="accordion-content">
          <div class="accordion-content__inner">
            content2
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
