/* Base Font */
$font-family: 'Din Pro', sans-serif;
$font-size: 1.5rem;
$font-weight: normal;
$font-style: normal;
$line-height: 1.6;


/* Colors */
$color-primary: #333333;
$color-primary-inverse: #ffffff;
$color-accent: #6495ED;
$color-accent-dark: #435d99;

$color-gray-light: #F5F7FA;
$color-gray-medium: #E8EBED;
$color-gray-dark: #DDF0F8;
$color-gray-darken: #7E8F96;

$color-info: #3E8EAE;
$color-danger: #FF7F50;
$color-warning: #ff9f00;
$color-success: #0BBC61;
